<p-panel header="Numbers Pipes" class="p-1">
  <h1>Numbers Pipes</h1>
  <p>
    Pipes included in Angular - Usually in the Common Module
  </p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="net sales" subheader="current year">
      {{ (totalSells + 1556) | number : '1.6-6' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="gross sales" subheader="current year">
      {{ totalSells | currency:'BOB':'symbol-narrow':'1.6-6' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="percentage profit" subheader="current year">
      {{ percent | percent: '1.3-3' }}
    </p-card>
  </div>

</div>
